.Formulario {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  padding: 30px 15px 150px 15px;
  overflow: hidden; }
  .Formulario .FomularioCuerpo {
    padding: 30px;
    margin: 20px;
    margin-top: 50px;
    font-family: sans-serif;
    background-color: #2B579F;
    color: #ffffff; }
    .Formulario .FomularioCuerpo .control {
      font-family: sans-serif;
      font-size: 15px;
      width: 100%;
      border-radius: 4px;
      margin: 5px;
      padding: 5px;
      border: 30px; }
    .Formulario .FomularioCuerpo .informacion {
      font-size: 15px;
      text-align: center;
      padding: 15px;
      border: 10px; }
    .Formulario .FomularioCuerpo .botones {
      font-family: sans-serif;
      background-color: #ffffff;
      padding: 5px;
      margin: 5px;
      color: #2B579F;
      text-align: center;
      border-radius: 5px;
      border: none;
      width: 100%;
      font-size: 15px; }
  .Formulario .FomularioCuerpo h3 {
    font-size: 35px;
    margin-bottom: 25px;
    text-align: center; }

/* ######## SECCION CSS PARA TODOS LOS HTML ######## */
.index {
  margin: 10px; }

.navegador ul li:hover {
  transform: scale(1.2); }

.TituloSecciones {
  background-color: #2B579F;
  color: #ffffff;
  text-align: center; }

.logored img {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 70px;
  animation-name: ExpandirLogo;
  animation-duration: 3.5s;
  animation-delay: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite; }

.inicio {
  background-color: #eeeeee; }

/* ######## SECCION NAVEGADOR ######## */
.navegador {
  background-color: #fff !important; }

.TextoImagenInicioTexto {
  padding: 20px !important;
  font-size: x-large; }

/* ###### PIE DE PAGINA ###### */
.container-pie {
  text-align: right;
  background-color: silver;
  color: #ffffff;
  width: 100%; }
  .container-pie div {
    font-size: xx-small;
    padding: 2px; }

.volverainicio {
  margin: 10px; }
  .volverainicio a {
    font-family: sans-serif;
    background-color: #2B579F;
    padding: 5px;
    margin: 5px;
    color: #ffffff;
    width: 8%;
    text-align: center;
    border-radius: 4px; }
