/* ###### SECCION GALERIA  ###### */
.GaleriaContainerFull {
  padding-top: 100px; }
  .GaleriaContainerFull .GaleriaContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    padding: 30px;
    grid-gap: 10px; }

.GaleriaImagen:hover {
  transform: scale(1.03); }

.GaleriaImagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 300ms; }

.GaleiaItem:nth-child(1) {
  grid-column-start: span 3; }

.GaleiaItem:nth-child(2) {
  grid-row-start: span 2;
  grid-column-start: span 2; }

.GaleiaItem:nth-child(6) {
  grid-column-start: span 2; }

.GaleiaItem:nth-child(9) {
  grid-column-start: span 3; }

.GaleiaItem:nth-child(7) {
  grid-column-start: span 2; }

/* ###### SECCION NOSOTROS ###### */
.NosotrosAcordion {
  margin: 10px 50px 30px 60px; }

.AcordionNombre {
  background-color: #2B579F;
  color: white; }

.accordion-item {
  text-align: center; }

.listaAcordion {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black; }

.NosotrosHistoria {
  border: solid #2B579F;
  margin: 150px 50px 20px 60px; }

.NosotrosTituloHistoria {
  padding: 10px; }

.NosotrosHistoria {
  font-family: sans-serif;
  grid-area: NosotrosHistoria;
  text-align: center;
  align-self: center;
  padding: 20px; }

/* ###### SECCION SERVICIOS ###### */
.ServiciosCards {
  padding: 70px 15px 5px 15px; }

card-img-top {
  width: 100%; }

.TitulosServicios {
  text-align: center;
  padding: 10px; }

.TitulosServicios1 {
  text-align: center;
  padding: 25px; }

.ImagenServicios {
  padding: 10px; }

.card-body {
  text-align: center; }

.Formulario {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  padding: 30px 15px 150px 15px;
  overflow: hidden; }
  .Formulario .FomularioCuerpo {
    padding: 30px;
    margin: 20px;
    margin-top: 50px;
    font-family: sans-serif;
    background-color: #2B579F;
    border-radius: 10px;
    color: #ffffff; }
    .Formulario .FomularioCuerpo .control {
      font-family: sans-serif;
      font-size: 15px;
      width: 100%;
      border-radius: 4px;
      margin: 5px;
      padding: 5px;
      border: 30px; }
    .Formulario .FomularioCuerpo .informacion {
      font-size: 15px;
      text-align: center;
      padding: 15px;
      border: 10px; }
    .Formulario .FomularioCuerpo .botones {
      font-family: sans-serif;
      background-color: #ffffff;
      padding: 5px;
      margin: 5px;
      color: #2B579F;
      text-align: center;
      border-radius: 5px;
      border: none;
      width: 100%;
      font-size: 15px; }
  .Formulario .FomularioCuerpo h3 {
    font-size: 35px;
    margin-bottom: 25px;
    text-align: center; }

/* ###### SECCION INDEX ###### */
.TextoImagenInicio {
  font-family: sans-serif;
  background-color: #2B579F;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  color: white; }
  .TextoImagenInicio .TextoImagenInicioTexto {
    font-size: 30px;
    font-family: sans-serif;
    color: #ffffff;
    animation-name: imagenInicio;
    animation-duration: 1s; }

@keyframes imagenInicio {
  50% {
    margin-top: 10px; }
  100% {
    margin-top: 0px; } }

.SeccionClientes {
  display: none; }
  .SeccionClientes .TituloSeccionClientes {
    display: none; }
  .SeccionClientes .ContainerClientes {
    display: none; }
    .SeccionClientes .ContainerClientes .clientes1 {
      display: none; }
    .SeccionClientes .ContainerClientes .clientes2 {
      display: none; }
    .SeccionClientes .ContainerClientes .clientes3 {
      display: none; }

/* ###### SECCION MEDIAS QUERYS ###### */
@media (min-width: 1024px) {
  /* ####MEDIAS INDEX### */
  .Texto2 {
    display: block; }
  .SeccionClientes {
    display: block;
    border: solid #2B579f 2px;
    height: 180px;
    margin: 20px; }
    .SeccionClientes .TituloSeccionClientes {
      display: block;
      border-radius: 3px;
      background-color: #2B579f;
      color: white;
      margin: 20px; }
    .SeccionClientes .ContainerClientes {
      display: block;
      width: 85vw;
      margin: auto; }
      .SeccionClientes .ContainerClientes .clientes1 {
        display: block;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center; }
      .SeccionClientes .ContainerClientes .clientes2 {
        display: block;
        display: flex;
        justify-content: space-evenly;
        align-items: center; }
      .SeccionClientes .ContainerClientes .clientes3 {
        display: block;
        display: flex;
        justify-content: space-around;
        align-items: center; }
  /* ####MEDIAS GALERIA### */
  .GaleiaItem:nth-child(1) {
    grid-column-start: span 3;
    grid-row-start: span 2; }
  .GaleiaItem:nth-child(2) {
    grid-row-start: span 3;
    grid-column-start: span 2; }
  .GaleiaItem:nth-child(6) {
    grid-column-start: span 3;
    grid-row-start: span 2; }
  .GaleiaItem:nth-child(7) {
    grid-row-start: span 2; }
  .GaleiaItem:nth-child(8) {
    grid-row-start: span 2; }
  .GaleiaItem:nth-child(9) {
    grid-row-start: span 2; } }

@media (min-width: 1440px) {
  .GaleiaItem:nth-child(1) {
    grid-column-start: span 3;
    grid-row-start: span 3; }
  .GaleiaItem:nth-child(2) {
    grid-row-start: span 4;
    grid-column-start: span 2; }
  .GaleiaItem:nth-child(3) {
    grid-row-start: span 2;
    grid-column-start: span 1; }
  .GaleiaItem:nth-child(4) {
    grid-row-start: span 2;
    grid-column-start: span 1; }
  .GaleiaItem:nth-child(5) {
    grid-row-start: span 3;
    grid-column-start: span 3; }
  .GaleiaItem:nth-child(6) {
    grid-row-start: span 2;
    grid-column-start: span 2; }
  .GaleiaItem:nth-child(7) {
    grid-row-start: span 2;
    grid-column-start: span 1; }
  .GaleiaItem:nth-child(9) {
    grid-row-start: span 2;
    grid-column-start: span 2; } }

/* ######## SECCION CSS PARA TODOS LOS HTML ######## */
* {
  margin: 0;
  padding: 0;
  text-decoration: none; }

.index {
  margin: 10px; }

.navegador ul li:hover {
  transform: scale(1.2); }

.TituloSecciones {
  background-color: #2B579F;
  color: #ffffff;
  text-align: center; }

.logored img {
  z-index: 2 !important;
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 65px;
  animation-name: ExpandirLogo;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: ease !important; }

@keyframes ExpandirLogo {
  0% {
    width: 65px; }
  50% {
    width: 75px; } }

.inicio {
  background-color: #eeeeee; }

/* ######## SECCION NAVEGADOR ######## */
.navegador {
  background-color: #fff !important; }

.TextoImagenInicioTexto {
  padding: 20px !important;
  font-size: x-large; }

/* ###### PIE DE PAGINA ###### */
.container-pie {
  text-align: right;
  background-color: silver;
  color: #ffffff;
  width: 100%; }
  .container-pie div {
    font-size: xx-small;
    padding: 2px; }
