
/* ###### SECCION GALERIA  ###### */

.GaleriaContainerFull {
    padding-top: 100px;
    .GaleriaContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 150px;
        padding: 30px;
        grid-gap: 10px;
    }
}

.GaleriaImagen:hover {
    transform: scale(1.03);
}

.GaleriaImagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 300ms;
}

.GaleiaItem:nth-child(1) {
    grid-column-start: span 3;
}

.GaleiaItem:nth-child(2) {
    grid-row-start: span 2;
    grid-column-start: span 2;
}

.GaleiaItem:nth-child(6) {
    grid-column-start: span 2;
}

.GaleiaItem:nth-child(9) {
    grid-column-start: span 3;
}

.GaleiaItem:nth-child(7) {
    grid-column-start: span 2;
}
