/* ###### SECCION INDEX ###### */

.TextoImagenInicio {
    font-family: $familia-letra;
    background-color:#2B579F;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    color: white;
}

.TextoImagenInicioTexto {
    font-size: 30px;
    font-family: $familia-letra;
    color: $color-letra;
    animation-name:imagenInicio;
    animation-duration: 1s;
    
}

@keyframes imagenInicio {
    50% {margin-top: 10px;}
    100%{margin-top: 0px;}
}
    



.SeccionClientes {
    display: none;
    .TituloSeccionClientes {
        display: none;
    }
    .ContainerClientes {
        display: none;
        .clientes1 { 
            display: none;
        }
        
        .clientes2 { 
            display: none;
        }
        
        .clientes3 { 
            display: none;
        }
    }   

}






