/* ###### SECCION INDEX ###### */

.TextoImagenInicio {
    background-color:#2B579F;
    padding: 20px;
    margin: 20px;
    color: white;
}


.SeccionClientes {
    display: none;
    .TituloSeccionClientes {
        display: none;
    }
    .ContainerClientes {
        display: none;
        .clientes1 { 
            display: none;
        }
        
        .clientes2 { 
            display: none;
        }
        
        .clientes3 { 
            display: none;
        }
    }   

}






