/* ###### SECCION MEDIAS QUERYS ###### */

@media (min-width: 1024px) {

    /* ####MEDIAS INDEX### */

    .Texto2 {
        display: block;
    }

    .SeccionClientes {
        display: block;
        border:solid #2B579f 2px;
        height: 180px;
        margin: 20px;
        .TituloSeccionClientes {
            display: block;
            border-radius: 3px;
            background-color: #2B579f;
            color: white;
            margin: 20px;
        }
        .ContainerClientes {
            display: block;
            width: 85vw;
            margin:auto;
            .clientes1 { 
                display: block;
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
            
            .clientes2 { 
                display: block;
                display: flex;
                justify-content: space-evenly;
                align-items: center; 
            }
            
            .clientes3 { 
                display: block;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        }   
    }


    .navegador li:hover {
                transform: scale(1.1);
            }
        

       /* ####MEDIAS GALERIA### */

    .GaleiaItem:nth-child(1) {
        grid-column-start: span 3;
        grid-row-start:span 2 ;
    }

    .GaleiaItem:nth-child(2) {
        grid-row-start: span 3;
        grid-column-start: span 2;
    }

    .GaleiaItem:nth-child(6) {
        grid-column-start: span 3;
        grid-row-start: span 2;
    }

    .GaleiaItem:nth-child(7) {
        grid-row-start: span 2;
    }

    .GaleiaItem:nth-child(8) {
        grid-row-start: span 2;
    }

    .GaleiaItem:nth-child(9) {
        grid-row-start: span 2;
    }
}

@media (min-width: 1440px) {
    .GaleiaItem:nth-child(1) {
        grid-column-start: span 3;
        grid-row-start:span 3 ;
    }

    .GaleiaItem:nth-child(2) {
        grid-row-start: span 4;
        grid-column-start: span 2;
    }

    .GaleiaItem:nth-child(3) {
        grid-row-start: span 2;
        grid-column-start: span 1;
    }

    .GaleiaItem:nth-child(4) {
        grid-row-start: span 2;
        grid-column-start: span 1;
    }

    .GaleiaItem:nth-child(5) {
        grid-row-start: span 3;
        grid-column-start: span 3;
    }

    .GaleiaItem:nth-child(6) {
        grid-row-start: span 2;
        grid-column-start: span 2;
    }

    .GaleiaItem:nth-child(7) {
        grid-row-start: span 2;
        grid-column-start: span 1;
    }

    .GaleiaItem:nth-child(9) {
        grid-row-start: span 2;
        grid-column-start: span 2   ;
    }

}

