/* ###### SECCION SERVICIOS ###### */


.ServiciosCards {
    padding: 70px 15px 5px 15px;
}

card-img-top {
    width: 100%;
}

.TitulosServicios {
    text-align: center;
    padding: 10px;    
}

.TitulosServicios1 {
    text-align: center;
    padding: 25px;  
}

.ImagenServicios {
    padding: 10px;
}

.card-body {
    text-align: center;
}
