
/* ######## SECCION CSS PARA TODOS LOS HTML ######## */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.index { 
    margin: 10px;
}

.navegador ul li:hover {
    transform: scale(1.2);
}

.TituloSecciones {
    background-color: $color-fondo;
    color: $color-letra;
    text-align: center;
}

.logored img{
    z-index: 2 !important;
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 70px;
    animation-name:ExpandirLogo;
    animation-duration: 3.5s;
    animation-delay: 1s;
    animation-timing-function: ease !important;
}

.inicio {
    background-color:#eeeeee;
}

/* ######## SECCION NAVEGADOR ######## */

.navegador {
    background-color:#fff !important;
}

.TextoImagenInicioTexto {
    padding: 20px !important;
    font-size: x-large;
}

/* ###### PIE DE PAGINA ###### */

.container-pie {
    text-align:right;
    background-color:silver;
    color: $color-letra;
    width: 100%;
    div { 
        font-size: xx-small;
        padding: 2px;
    }
}



